*{
    font-family: Arial, verdana, sans-serif;
    color: white;
}
li{
    display: inline;
    margin: 0.5em;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 1%;
    background-color: darkgreen;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
}
img{
    border-radius: 20px;
}
div{
    display:inline;
}
p{
    display: inline;
    margin: 5px;
}
article{
    height: 20.5em;
    text-align: center;
    background-color: #2f3136
}
.column1, .column2, .column3, .column4{
    width: 25%;
    float: left;
}
body{
    background-color: #36393f;
}
.ooga{
    margin-top:11em;
    text-align: center;
}
.crazy{
    text-align: center;
}
.auto{
    width: 50%;
    height: auto;
}
.articleborder{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
}
.centerandeighty{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
}
.button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }